<ion-header>
  <ion-toolbar>
    <ion-title>Pruebas SQLite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="agregarUsuarioPrueba()">Agregar Usuario</ion-button>
  <ion-button expand="block" (click)="consultarUsuarios()">Consultar Usuarios</ion-button>
  <ion-button expand="block" (click)="agregarProductoCarrito()">Agregar Producto al Carrito</ion-button>
  <ion-button expand="block" (click)="consultarCarrito()">Consultar Carrito</ion-button>
  <ion-button expand="block" (click)="vaciarCarrito()">Vaciar Carrito</ion-button>
</ion-content>