ion-card {
    margin-bottom: 20px;
  }
  
  ion-item {
    margin: 10px 0;
  }
  
  ion-card-title {
    text-align: center;
    font-weight: bold;
    color: #4caf50;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  ion-toast {
    --background: #323232;
    --color: #ffffff;
  }  